.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 95px 50px;
}

/*.header_link-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  list-style: circle;
}

.header_logo {
  display: block;
  width: 130px;
  height: 104px;
  margin: auto;
}

.header_logo-image {
  width: 100%;
}*/