.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding-top: 94px;
  padding-right: 56px;
  padding-bottom: 95px;
  padding-left: 44px;
}

.header_link-list {
  display: flex;
  gap: 20px;
  list-style: circle;
}

.header_logo {
  display: block;
  width: 130px;
  height: 104px;
}

.header_logo-image {
  width: 100%;
}